*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}
body{
    background: white;
    margin: 0;
    padding: 0 ;
}
.logo1{
    background: #1d6295;
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: space-between;
    padding-top:  10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F2F2;
    font-weight: bold;
}
.logo{
    width: 100px;

}
.name{
    margin: 10px;
}
li{
    list-style: none;
    
}
.navbar{
    background: #a3ceed;
    padding: 10px;
    
}
.ul{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}
.name1{
    padding-right: 130px;
}

#sidecontainer{
    background-color: #253848;
    height: 100%;
    width: 19%;   
    position: fixed;
    padding-top: 15px;        
    color: white;
    display: grid;
    text-align: center; 
    display: grid;
    margin-top: -148px;
    grid-template-columns: 50% 35%;
    grid-template-rows: 7% 7% 7% 7% 7% 7%;    
}
.cell{
    padding: 2px;
}
.menu-bar-container{
    overflow: hidden;
    margin-left: 245px;
    padding: 1px;
    margin-top: 0px;
    background-color: #e4e8e8;
    padding-left: 110px;
    width: 83%;
    grid-template-columns: 14% 22% 11% 12% 12% 12% 9% 13%;
} 

.elements{  
    padding: 2px;
}
#color-box{     
    margin-left: 345px ;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    width: 75%; 
}
#color-box span{
    padding-left: 65px;
    
}
.colorbox1{
    background: linear-gradient(to right, #92d050 20%, #028101 100%);
    padding: 20px;  
    border: 1px solid black;    
}
.colorbox2{
    background: linear-gradient(to right, #ffb700 20%, #ff6600 100%);
    padding: 20px;    
    border: 1px solid black;  
}
.colorbox3{
    background: linear-gradient(to right, #03abe9 20%, #276f8b 100%);
    padding: 20px;  
    border: 1px solid black;    
}
.colorbox4{
    background: linear-gradient(to right, #9f9eb2 20%, #263949 100%);
    padding: 20px;  
    border: 1px solid black;  
}
.table-container{
    margin-left: 295px;
}
/* .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(137, 64, 64, 0.15);
    width: 98%;
    padding-left: 300px;
    
    
}  */

 /* table tr td {
    
    border-collapse: collapse;
    padding: 6px;
    background: #d1e7f6;
    border-bottom: solid black 2px;

}  */

table{
    border-collapse: collapse;
    padding: 6px;
    background: #d1e7f6;

}

.headd{
    border-bottom: solid black 2px;
    
}

td{
    padding: 6px;
}

.bodyy{
    padding: 6px;
}

.bodyy:nth-child(odd){
    background: white;
}